<div id="cubo">
  <div  class="cube">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
    <h1 class="text-2xl" >Blockchain</h1>
  <p id="notice">
    <%= notice %>
  </p>

  <%= render "form" %>

    <div class="row callout small">
      <div class="columns">
        <div id="crypto">
            <%= render "list" %>
        </div>
      </div>
    </div>

  <div id="pagy" class="shadow hover:shadow-lg ">
  <%== pagy_nav (@pagy) %>
  </div>
</div>

  
