<h2>Hashes</h2>

<p id="notice">
  <%= notice %>
</p>

<%= render "form" %>

  <div class="row callout small">
    <div class="columns">
      <div id="crypto">
          <%= render "list" %>
      </div>
    </div>
  </div>

  
  <%== pagy_nav (@pagy) %>
  
