<h2>Hashes</h2>
<%= render "form" %>

  <div class="row callout small">
    <div class="columns">
      <div id="crypto">
          <%= render "list" %>  
      </div>
    </div>
  </div>
  <div id="pagy">
    <%= raw pagy_nav (@pagy) %>
  </div>
